body {
  background-color: #ffffffee;
}

.food_main {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  align-items: center;

}

.icon {
  width: 40px;
  height: 40px;
}

.food_main h1 {
  font-size: 20px;
  color: #555;
  margin-left: 10px;
}

.edit_btn {
  width: 180px;
  height: 30px;
  border-radius: 30px;
  color: white;
  font-weight: bolder;
  text-decoration: none;
  background-color: #00C6A5;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 70px;
}

.old_food_01 {
  width: 320px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.old_food_01_image {
  width: 120px;
  height: 120px;
  margin: 20px;
}

.old_food_01_text {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}